<main>
    <div class="row">
        <div class="col-sm-12">
            <h1>You are successfully logout!</h1>
            <p>
                <a href="http://localhost:3000/">Click here go back to the login page</a>
            </p>
        </div>
    </div>
</main>